.card-drink {
  text-align: center;
  flex-basis: 30%;
}
.card-drink img {
  border-radius: 100%;
  width: 150px;
}
.card-drink h4,
.card-drink a {
  color: white;
}

.card-drink:nth-child(3n) img {
  background-color: var(--brown-color);
}

.card-drink:nth-child(3n - 1) img {
  background-color: var(--green-color);
}

.card-drink:nth-child(3n - 2) img {
  background-color: var(--pink-color);
}
