<div class="container-banner">
  <article class="container-left">
    <h2>Drink of the moment</h2>
    <p>
      Gin, also known as gin, is one of the most popular and appreciated
      alcoholic beverages worldwide, especially for its versatility in
      cocktails. Originally from Europe, this spirit has evolved over the
      centuries and comes in a wide range of styles and flavors.
    </p>
    <h3>4.9</h3>
    <button>Try now <img src="assets/images/Vector-row-right.png" /></button>
  </article>

  <div class="container-background">
    <div class="circle-background">
      <img src="assets/images/Fruta-roja-centro.png" alt="" class="img-fruta" />
      <img
        src="assets/images/Palitos-cafe-centro.png"
        alt=""
        class="img-cafe"
      />
    </div>
    <img
      src="assets/images/Botella-Gin-centro.png"
      alt=""
      class="img-gin-bottle"
    />
    <img src="assets/images/Lineas-fondo.png" alt="" class="img-background" />
  </div>

  <article class="container-right">
    <app-card-right [cards]="cards"></app-card-right>
  </article>
</div>
